.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {

}

.navbar {
  background-color: darkslateblue;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.home-container {
 
}

.calc-container {
  background-color: aliceblue;
}

/* .form-container */

.page-header {
  display: flex;
  justify-content: center;
  background-color: #61dafb;
  padding: 10px;
}

.page-body {
  padding: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon-label {
    font-size: 50px;
}

.color {
  color: green;
}

.content-left {
  display: flex;
  justify-content: flex-start;
}

.radio-padding {
  padding-left: 35px !important;
  padding-top: 10px;
}